h1{
	font-size: 50px;
	color: #0033cc;
	padding: 15px;
	font_family: Times, "Times New Roman";
	text-align: center;
	text-decoration: underline overline;
	transition: transform 2000ms ease;
}
h1:hover {
  transform: scale(1.5);
}
h2{
	font-size: 15px;
	color: #5087D4;
	padding: 10px;
	font_family: Times, "Times New Roman";
	text-align: center;
	transition: transform 2000ms ease;
}
h2:hover {
  transform: scale(1.5);
}
td {
	color: #002B67;
	border: 1px solid;
	padding: 5px;
	font-family: "Lucida Console", "Courier New";
	background-color: #96D4D4;
  }
th:hover {
  background-color: #FFB6C1;
th {
	color: #002B67;
	border: 2px solid;
	font-size: 15;
	padding: 5px;
	font-family: "Lucida Console", "Courier New";
	font-weight: bold;
	background-color: #96D4D4;
}
}
.PlanetData{
	padding: 1px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: lightblue;
}
